* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}

body {
    background: var(--body-color);
    transition: background 0.5s;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,19,116,1) 47%, rgba(0,73,88,1) 100%);
    padding: 5px 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.logo {
    width: 70px;
    margin-right: 45px;
}

.nav-left ,
.nav-right {
    display: flex;
    align-items:center;
}

.nav-left ul li {
    list-style: none;
    display: inline-block;
}

.nav-left ul li img {
    width: 28px;
    margin: 0 15px;
}

.nav-user-icon img {  
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon {
    margin-left: 30px;
}

.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img {
    width: 18px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 9px;
    height: 9px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar {
    flex-basis: 25%;
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    overflow-y: auto;
    height: 90vh;
    background-color: #ffffff;
    padding-left: 60px;
    padding-top: 30px;
}
.left-sidebar::-webkit-scrollbar {
    width: 0;
}
.right-sidebar {
    flex-basis: 25%;
    position: -webkit-sticky;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
    height: 90vh;
    overflow-y: scroll;
}
.right-sidebar::-webkit-scrollbar {
    width: 0;
}
.main-content {
    flex-basis: 47%;
    height: 90vh;
    overflow-y: scroll;
}
.main-content::-webkit-scrollbar {
    width: 0;
}

.imp-links a ,
.shortcut-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30PX;
    color: #626262;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.imp-links a img {
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child {
    color: #1876f2;
}

.imp-links {
    border-bottom: 1px solid #ccc;
}

.shortcut-links a img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p {
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}

.sidebar-tittle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.right-sidebar h4 {
    font-weight: 600;
    font-size: 16px;
}

.sidebar-tittle a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1);
}


.event p {
    font-size: 12px;
    margin: 6px 0;
}

.event a {
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.left-event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}

.sidebar-ads {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img {
    width: 40px;
    border-radius: 50%;
}

.online-list .online {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.online-list .online::after {
    top: unset;
    bottom: 3px;
}

.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.story-gallery::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
}

.story-gallery::-webkit-scrollbar-thumb {
    background-color: darkgray; /* Color of the thumb */
}

.story-gallery::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255); /* Color of the track */
    width: 1px;
}
.story-gallery:hover {
    animation: scrollAnimation 5s linear infinite;
}

@keyframes scrollAnimation {
    from {
        transform: translateX(0); /* Start scrolling from the left */
    }
    to {
        transform: translateX(-800px); /* Scroll to the right of the content */
    }
}
.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-right: 15px;
    min-width: 150px;
}

.story img {
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}

.story p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.story-1 {
    background-image: linear-gradient(transparent,rgba(0,0,0,0.9)),url(../images/IMG_7165.jpg);
}

.story-2 {
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ3M0YTk1ZGF3dHBncW96Yzh0YTRhODU5bTF2NGkzNjJnOHNla3JrNiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/YnBntKOgnUSBkV7bQH/200.webp);
}

.story-3 {
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(https://media2.giphy.com/media/TIG6XFVuOriidsTsdu/200.webp?cid=790b7611gs4a95dawtpgqozc8ta4a859m1v4i362g8sekrk6&ep=v1_gifs_search&rid=200.webp&ct=g);
}

.story-4 {
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(https://media0.giphy.com/media/3o72EUaYxoziQwZAEE/200.webp?cid=790b7611ck0r4i2g5nd553w9w7qresmzsfwnebcm008upawd&ep=v1_gifs_search&rid=200.webp&ct=g);
}

.story-5 {
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2swcjRpMmc1bmQ1NTN3OXc3cXJlc216c2Z3bmViY20wMDh1cGF3ZCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/tsf1a3vvmJYuDUBlMg/200.webp);
}

.story.story-1 img {
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}

.write-post-container {
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: 5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
}

.post-input-container {
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links {
    display: flex;
    margin-top: 10px;
}

.add-post-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.add-post-links a img {
    width: 20px;
    margin-right: 10px;
}

.post-container {
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.user-profile span {
    font-size: 13px;
    color: #9a9a9a;
}

.post-text {
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}

.post-text span {
    color: #626262;
    font-weight: 500;
}

.post-text a {
    color: #1876f2;
    text-decoration: none;
}

.post-img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div img {
    width: 18px;
    margin-right: 10px;
}

.activity-icons div {
    display: inline-block;
    align-items: center;
    margin-right: 30px;
}

.post-profile-icon {
    display: flex;
    align-items: center;
}

.post-profile-icon img {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post-row a {
    color: #9a9a9a;
}

.load-more-btn {
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}

.footer {
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
}

.settings-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0,0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.7s;
}

.settings-menu-hieght {
    max-height: 450px;
}

.user-profile a {
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}

.settings-menu-inner {
    padding: 20px;
}

.settings-menu hr {
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}

.settings-links {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.settings-links .settings-icon {
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.settings-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}

#dark-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on {
    padding-left: 23px;
    background: #0a0a0a;
}





/* -----------------Media Query for Home Page ---------------- */

@media (max-width: 900px) {
    .right-sidebar {
        display: none;
    }
    .left-sidebar {
        display: none;
    }
    nav {
        flex-wrap: wrap;
    }
    .search-box {
        display: none;
    }
    .logo {
        width: 110px;
        margin-right: 20px;
    }
    .nav-left ul li img {
        width: 20px;
        margin: 0 8px;
    }
    .nav-user-icon img {
        width: 30px;
    }
    .nav-user-icon {
        margin-left: 0;
    }
    .add-post-links {
        flex-wrap: wrap;
    }
    .main-content {
        flex-basis: 100%;
    }
    .story img {
        width: 20px;
        border-width: 3px;
    }
    .story p {
        font-size: 10px;
    }
    .story.story-1 img {
        width: 25px;
        bottom: 30px;
    }
    .add-post-links a {
        margin-right: 12px;
        font-size: 9px;
    }
    .add-post-links a img {
        width: 16px;
        margin-right: 5px;
    }
    .post-input-container {
        padding-left: 0;
    }
}

